{# -*- engine: django -*- #}

{% extends 'pages/login/login_base.html' %}
{% import "pages/base/macros.html" as macros %}

{% block content %}

    {% macro title(text='Change This Title') -%}
        <h2 class="dialog-title">
            {{ text }}
        </h2>
    {%- endmacro %}


    <!-- Content -->
    {% if path == "start" %}
        <div class="login-heading">
            <h1>Software enabling companies to provide employees with leave</h1>
        </div>
    {% endif %}

    <div class="dialog">
        {% set form_class = "river" %}

        {% if path == "login" %}

            {{ title(text='Log In')  }}

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action={{ form_submit_endpoint|default("/login", true) }}>

                {{ macros.input(type='email', name='email', placeholder='Email', icon='envelope')  }}

                {{ macros.input(type='password', name='password', placeholder='Password', icon='key')  }}

                <div class="remember-form">
                    {% call macros.checkbox(name="remember") %}
                        Remember me
                    {% endcall %}
                    <a href="#">Forgot Password?</a>
                </div>

                {% call macros.button(class="w-100") %}
                    Log In
                {% endcall %}

                <span class="dialog-footnote d-flex justify-content-center">
                    Don't have an account? <a href="#">Sign Up</a>
                </span>
            </form>

        {% elif path == "signup" %}

            {{ title(text='Create your account')  }}

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action="/signup">

                {{ macros.input(type='email', name='email', placeholder='Email', icon='envelope') }}

                {{ macros.input(type='password', name='password', placeholder='Password', icon='key') }}

                {{ macros.input(type='password', name='confirm_password', placeholder='Confirm Password', icon='key') }}
                {% call macros.select(name='status', placeholder='Status', required=True, icon='user') %}
                    <option value="full-time">Full Time</option>
                    <option value="contractor">Contractor</option>
                {% endcall %}

                <div class="remember-form justify-content-center">
                    {% call macros.checkbox(name="remember") %}
                        I agree to the <a href="">Terms of Service</a>
                    {% endcall %}
                </div>

                {% call macros.button(class="w-100") %}
                    Register
                {% endcall %}

                <span class="dialog-footnote d-flex justify-content-center">
                    Already have an account? <a href="#">Log In</a>
                </span>

            </form>
        {% elif path == "select" %}

            {{ title(text='Access to:')  }}

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action={{ form_submit_endpoint|default("/login", true) }}>

                <a href="/login" class="sparrow-button sparrow-secondary">
                    Employee Dashboard
                </a>
                <a href="login" class="sparrow-button sparrow-primary">
                    Admin Dashboard
                </a>
            </form>
        {% elif path == "forgot_pass" %}

            {{ title(text='Forgot Password?')  }}

            <span class="dialog-subtitle">Enter the e-mail you use and we will send you a link for changing your password.</span>

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action={{ form_submit_endpoint|default("/login", true) }}>

                {{ macros.input(type='email', name='email', placeholder='Email', icon='envelope')  }}

                {% call macros.button(class="w-100") %}
                    Reset Password
                {% endcall %}

            </form>
        {% elif path == "reset_pass" %}

            {{ title(text='Change your password:')  }}

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action={{ form_submit_endpoint|default("/login", true) }}>

                <!-- TODO: client side validation password match -->
                {{ macros.input(type='email', name='email', placeholder='Email', icon='envelope')  }}

                {{ macros.input(type='password', name='password', placeholder='Password', icon='key') }}
                {{ macros.input(type='password', name='confirm_password', placeholder='Confirm Password', icon='key') }}

                {% call macros.button(class="w-100") %}
                    Reset Password
                {% endcall %}

            </form>

        {% else %}

            {{ title(text="Let's get started now")  }}

            <span class="dialog-subtitle">Or <a href="/signup">create</a> an account if not registered yet</span>

            <a href="/login" class="sparrow-button sparrow-primary w-50">
                Log In
            </a>
        {% endif %}
    </div>
{% endblock %}
