{% extends 'pages/login/login_base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

{% if path == "start" %}
<div class="login-heading">
    <h1>Software enabling companies to provide employees with leave</h1>
</div>
{% endif %}

{% macro input(name='', value='', placeholder='...', type='text', required=True, icon='user') -%}
<div class="row sparrow-input">
    <i class="fas fa-{{ icon }}"></i>
    <input
        type="{{ type }}"
        name="{{ name }}"
        value="{{ value }}"
        placeholder="{{ placeholder }}"
        {% if required %} required {% endif %}
    />
</div>
{%- endmacro %}

{% macro select(name='', placeholder='...', required=True, icon='user') -%}
<div class="row sparrow-select">
    <i class="fas fa-{{ icon }}"></i>
    <select
        {% if required %} required {% endif %}
    >
        <option value="" disabled selected hidden>{{ placeholder }}</option>
        {{ caller () }}
    </select>
</div>
{%- endmacro %}

{% macro checkbox(name='', placeholder='...', id='', class='', required=True) -%}
<div class="sparrow-checkbox {{ class }}">
    <input
        type="checkbox"
        name="{{ name }}"
        id="checkbox-remember"
        {% if required %} required {% endif %}
    >
    <label for="checkbox-remember">
        {{ caller() }}
    </label>
</div>
{%- endmacro %}


{% macro button(name='', priority='primary', type='submit', id='', class='') -%}
<button type="{{ type }}" id="{{ id }}" class="sparrow-button sparrow-{{ priority }} {{ class }}"> {{ caller() }}</button>
{%- endmacro %}


<div class="dialog">
    <!-- form_submit_endpoint should be provided by the integration -->
    <form
        class="river"
        method="POST"
        autocomplete="on"
        action={{ form_submit_endpoint|default("/login", true) }}>

        {% if path == "login" %}
        <h2 class="dialog-title">Log in</h2>

        {{ input(name='username', placeholder='Username', icon='user')  }}
        {{ input(type='password', name='password', placeholder='Password', icon='key')  }}

        <div class="row remember-form">
            {% call checkbox(name="remember", class="left") %}
                Remember me
            {% endcall %}
            <a class="right" href="#">Forgot Password?</a>
        </div>

        {% call button(class='row') %}
        Log In
        {% endcall %}

        <span class="dialog-footnote">
            Don't have an account? <a href="#">Sign Up</a>
        </span>

        {% elif path == "signup" %}
        <h2 class="dialog-title">Create your account</h2>

        {{ input(type='text', name='username', placeholder='Username', icon='user') }}

        {{ input(type='email', name='email', placeholder='Email', icon='envelope') }}

        {{ input(type='password', name='password', placeholder='Password', icon='key') }}

        {{ input(type='password', name='confirm_password', placeholder='Confirm Password', icon='key') }}
        {% call select(name='status', placeholder='Status', required=True, icon='user') %}
            <option value="full-time">Full Time</option>
            <option value="contractor">Contractor</option>
        {% endcall %}

        <div class="row remember-form">
            {% call checkbox(name="remember") %}
                I agree to the <a href="">Terms of Service</a>
            {% endcall %}
        </div>

        {% call button(class='row') %}
        Register
        {% endcall %}

        <span class="row dialog-footnote">
            Already have an account? <a href="#">Log In</a>
        </span>
        {% elif path == "select" %}
        <h2 class="dialog-title">Access to:</h2>

        <a href="/login">
            {% call button(type='button', class='row', priority='secondary') %}
            Employee Dashboard
            {% endcall %}
        </a>
        <a href="login">
            {% call button(type='button', class='row') %}
            Admin Dashboard
            {% endcall %}
        </a>

        {% elif path == "forgot_pass" %}
        <h2 class="dialog-title">Forgot Password?</h2>

        <span class="dialog-subtitle">Enter the username you use and you will receive an e-mail containing a link for changing your password.</span>


        <div class="row sparrow-input">
            <i class="fas fa-user"></i>
            <input type="text" name="username" placeholder="Username" required/>
        </div>

        <button type="submit" class="row sparrow-button sparrow-primary">Reset Password</button>

        {% elif path == "reset_pass" %}
        <h2 class="dialog-title">Change your password:</h2>

        <!-- TODO: client side validation password match -->
        <div class="row sparrow-input">
            <i class="fas fa-user"></i>
            <input type="text" name="username" placeholder="Username" required/>
        </div>

        <div class="row sparrow-input">
            <i class="fas fa-key"></i>
            <input type="password" id="password" name="password" placeholder="Password" value="" required />
        </div>

        <div class="row sparrow-input">
            <i class="fas fa-key"></i>
            <input type="password" id="confirm_password" name="password" placeholder="Confirm Password" value="" required />
        </div>

        <button type="submit" class="row sparrow-button sparrow-primary">Reset Password</button>

        {% else %}
        <h2 class="dialog-title">Let's get started now</h2>

        <span class="dialog-subtitle">Or <a href="#">create</a> an account if not registered yet</span>
        <button type="submit" class="row sparrow-button sparrow-primary">Log In</button>

        {% endif %}


    </form>

</div>
{% endblock %}
