@import "../base/base.less";

.login-form,
.hero-image-container {
    flex: 1;
}

.hero-image-container {
    background: url('/static/img/sparrow-login-bg.svg');
    background-size: cover;
}

.login-form {
    padding-bottom: 64px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Login Form

.sparrow-logo {
    margin-left: 32px;
    margin-top: 32px;
    align-self: flex-start;


    font-size: @font-size-24;
    color: #415A6B;

    span {
        position: relative;
        left: -8px;
        top: -19px;
    }

    img {
        width: 60px;
        height: 60px;
    }
}

.login-heading {
    margin-top: 48px;
    margin-bottom: 48px;

    h1 {
        margin: auto;
        font-weight: lighter;
        width: 60%;
        text-align: center;
        font-size: @font-size-24;
        line-height: 32px;
    }
}

.dialog {

    // Arbitrarily chosen for very big screens
    max-width: 500px;
    width: 60%;

    margin: auto;
    padding: 32px;
    padding-top: 48px;
    border-radius: 15px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: @font-size-12;

    @space-between-elements: 24px;

    // This is the middle strip where content lives and has a max width
    .river {
        display: flex;
        flex-direction: column;
        width: 60%;
        max-width: 250px;
        margin: auto;
        text-align: center;
    }

    &-title {
        margin: 16px 0;
        font-size: @font-size-24;
        font-weight: normal;
    }

    &-subtitle {
        margin-top: 16px;
        margin-bottom: 40px;
        font-size: @font-size-14;
    }

    .row {
        box-sizing: border-box;
        width: 100%;
        margin: (@space-between-elements / 2) auto;
    }

    &-footnote {
    }
}
