@import "../base/base.less";

.hero-image-container {
    background: url('/static/img/sparrow-login-bg.svg');
    background-size: cover;
}

.login-form {
    padding-bottom: 64px;
    overflow-y: auto;
}

// // Login Form
.sparrow-logo {
    margin-left: 32px;
    margin-top: 32px;
    align-self: flex-start;
}

.login-heading {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 60%;

    h1 {
        margin: auto;
        font-weight: lighter;
        text-align: center;
        font-size: @font-size-24;
        line-height: @font-size-30;
    }
}

.dialog {
    .floating-shadow();
    border-radius: 15px;

    // Arbitrarily chosen for very big screens
    max-width: 500px;
    width: 60%;
    font-weight: 300;
    font-size: @font-size-12;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    padding: 48px 32px;

    @space-between-elements: 24px;

    // This is the middle strip where content lives and has a max width
    .river {
        width: 60%;
        max-width: 300px;
        margin: 16px auto;
    }

    &-title {
        margin: 16px 0;
        font-size: @font-size-24;
        font-weight: normal;
    }

    &-subtitle {
        margin: 16px 0;
        text-align: center;
        font-size: @font-size-14;
    }

    .remember-form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }


    &-footnote {
    }
}
