{# -*- engine: django -*- #}

{% extends "pages/base/base.html" %}
{% import "pages/base/macros.html" as macros %}

{% block header_styles %}
<link href="/static/login.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="container-fluid h-100">
    <div class="row h-100">
        <main class="login-form col-lg col-xl h-100">
            <div class="row flex-column flex-nowrap align-items-center justify-content-center h-100">
                {{ macros.sparrow_logo() }}
                {% block content %}{% endblock %}
            </div>
        </main>

        <div class="col-xl hero-image-container" />
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript" src="/static/login.js"></script>
{% endblock %}
