{% extends "pages/base/base.html" %}
{% block header_styles %}
<link href="/static/login.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="login-form">
        <div class="sparrow-logo">
            <img src="/static/img/sparrow-logo.png"/>
            <span class="logo-sparrow">Sparrow</span>
        </div>

        {% block content %}{% endblock %}
    </div>

    <div class="hero-image-container" />
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript" src="/static/login.js"></script>
{% endblock %}
