{# -*- engine: django -*- #}

{% extends 'pages/login/login_base.html' %}

{% block content %}

    {% macro title(text='Change This Title') -%}
        <h2 class="dialog-title">
            {{ text }}
        </h2>
    {%- endmacro %}

    {% macro input(name='', label=False, id='', class='', value='', placeholder='...', type='text', required=True, icon=False) -%}
        <div class="form-group">
            <div class="input-group">
                {% if icon %}
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-{{ icon }}"></i>
                        </span>
                    </div>
                {% endif %}

                <input
                    type="{{ type }}"
                    class="form-control"
                    name="{{ name }}"
                    id="{{ id }}"
                    placeholder="{{ placeholder }}"
                    {% if required %} required {% endif %}
                >
            </div>
        </div>
    {%- endmacro %}

    {% macro select(name='', label=False, id='', class='', value='', placeholder='...', required=True, icon=False) -%}
        <div class="sparrow-select {{ class }}">
            {% if icon %}
                <i class="fas fa-{{ icon }}"></i>
            {% endif %}

            {% if label %}
                <label for="{{ id }}">{{ label }}</label>
            {% endif %}

            <select
                id="{{ id }}"
                {% if required %} required {% endif %}
            >
                <option value="" disabled selected hidden>{{ placeholder }}</option>
                {{ caller () }}
            </select>
        </div>
    {%- endmacro %}

    {% macro checkbox(name='', placeholder='...', id='', class='', required=True) -%}
        <div class="sparrow-checkbox {{ class }}">
            <input
                type="checkbox"
                name="{{ name }}"
                id="checkbox-remember"
                {% if required %} required {% endif %}
            >
            <label for="checkbox-remember">
                {{ caller() }}
            </label>
        </div>
    {%- endmacro %}


    {% macro button(name='', priority='primary', type='submit', id='', class='') -%}
        <button
            type="{{ type }}"
            id="{{ id }}"
            class="sparrow-button sparrow-{{ priority }} {{ class }}"
        >
            {# Allow macro caller to input more info in button #}
            {{ caller() }}
        </button>
    {%- endmacro %}


    <!-- Content -->
    {% if path == "start" %}
        <div class="login-heading">
            <h1>Software enabling companies to provide employees with leave</h1>
        </div>
    {% endif %}

    <div class="dialog">
        {% set form_class = "river" %}

        {% if path == "login" %}

            {{ title(text='Log In')  }}

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action={{ form_submit_endpoint|default("/login", true) }}>

                {{ input(name='email', placeholder='Email', icon='envelope')  }}

                {{ input(type='password', name='password', placeholder='Password', icon='key')  }}

                <div class="remember-form">
                    {% call checkbox(name="remember") %}
                        Remember me
                    {% endcall %}
                    <a href="#">Forgot Password?</a>
                </div>

                {% call button(class="w-100") %}
                    Log In
                {% endcall %}

                <span class="dialog-footnote d-flex justify-content-center">
                    Don't have an account? <a href="#">Sign Up</a>
                </span>
            </form>

        {% elif path == "signup" %}

            {{ title(text='Create your account')  }}

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action="/signup">

                {{ input(type='email', name='email', placeholder='Email', icon='envelope') }}

                {{ input(type='password', name='password', placeholder='Password', icon='key') }}

                {{ input(type='password', name='confirm_password', placeholder='Confirm Password', icon='key') }}
                {% call select(name='status', placeholder='Status', required=True, icon='user') %}
                    <option value="full-time">Full Time</option>
                    <option value="contractor">Contractor</option>
                {% endcall %}

                <div class="remember-form justify-content-center">
                    {% call checkbox(name="remember") %}
                        I agree to the <a href="">Terms of Service</a>
                    {% endcall %}
                </div>

                {% call button(class="w-100") %}
                    Register
                {% endcall %}

                <span class="dialog-footnote d-flex justify-content-center">
                    Already have an account? <a href="#">Log In</a>
                </span>

            </form>
        {% elif path == "select" %}

            {{ title(text='Access to:')  }}

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action={{ form_submit_endpoint|default("/login", true) }}>

                <a href="/login" class="sparrow-button sparrow-secondary">
                    Employee Dashboard
                </a>
                <a href="login" class="sparrow-button sparrow-primary">
                    Admin Dashboard
                </a>
            </form>
        {% elif path == "forgot_pass" %}

            {{ title(text='Forgot Password?')  }}

            <span class="dialog-subtitle">Enter the e-mail you use and we will send you a link for changing your password.</span>

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action={{ form_submit_endpoint|default("/login", true) }}>

                {{ input(name='email', placeholder='Email', icon='envelope')  }}

                {% call button(class="w-100") %}
                    Reset Password
                {% endcall %}

            </form>
        {% elif path == "reset_pass" %}

            {{ title(text='Change your password:')  }}

            <form
                class="{{ form_class }}"
                method="POST"
                autocomplete="on"
                action={{ form_submit_endpoint|default("/login", true) }}>

                <!-- TODO: client side validation password match -->
                {{ input(name='email', placeholder='Email', icon='envelope')  }}

                {{ input(type='password', name='password', placeholder='Password', icon='key') }}
                {{ input(type='password', name='confirm_password', placeholder='Confirm Password', icon='key') }}

                {% call button(class="w-100") %}
                    Reset Password
                {% endcall %}

            </form>

        {% else %}

            {{ title(text="Let's get started now")  }}

            <span class="dialog-subtitle">Or <a href="/signup">create</a> an account if not registered yet</span>

            <a href="/login" class="sparrow-button sparrow-primary w-50">
                Log In
            </a>
        {% endif %}
    </div>
{% endblock %}
