@import "../common/sidebar_template.less";

.dashboard-header {
    color: @color-primary-cta;

    .search {
        .fa,
        .form-control::placeholder {
            color: @color-primary-cta;
        }
    }
}

.employee-table {
    font-size: @font-size-14;

    .sparrow-checkbox {
        font-size: @font-size-20;
        font-weight: normal;
    }

    &-header {
        font-size: @font-size-18;
        font-weight: bold;
    }

    &-header,
    &-row {
        // We need negative margins for the rows to stick to the borders of the floating card
        margin: 8px -32px;
    }

    &-row {
        cursor: pointer;
        background-color: #F9F9F9;

        .employee-name {
            position: relative;

            .new-suffix {
                position: absolute;
                top: 0;
                right: 0;

                font-size: @font-size-10;
                background-color: @color-primary-cta;
                color: #FFFFFF;
                padding: 4px 8px;
            }
        }
        .profile-img {
            margin-right: 16px;
        }
    }
}
