{# -*- engine: django -*- #}

{% import "pages/base/macros.html" as macros %}
{% extends 'pages/common/sidebar_template.html' %}

{% block header_styles %}
    <link href="/static/dashboard.css" rel="stylesheet"/>
{% endblock %}


{% macro employee_row(
    name="Diego Berrocal",
    user_id="0",
    is_new=False,
    start_date="01/01/2019",
    end_date="01/02/2019",
    estimated_pay="$ 1,219",
    company_pay="$ 522"
    )
%}
    <div class="row p-3 employee-table employee-table-row align-items-center shadow-sm">

        <div class="col-1 checkbox">
            {{ macros.checkbox(id=user_id, required=False) }}
        </div>

        <div class="col employee-name">
            <div class="d-flex align-items-center">
                <img alt="your profile picture"
                    class="profile-img rounded-circle border border-3 border-primary"
                    width="70"
                    height="70"
                    src="https://0.gravatar.com/avatar/f5348e1061215cf50eb1682b5da444ea?s=400&d=mm"/>
                {{ name }}
            </div>
            {% if is_new %}
                <span class="new-suffix rounded">
                    New
                </span>
            {% endif %}
        </div>

        <!-- Leave Start Date -->
        <div class="col-2 text-center">
            {{ start_date }}
        </div>

        <!-- Leave End date -->
        <div class="col-2 text-center">
            {{ end_date }}
        </div>

        <!-- Estimated Pay -->
        <div class="col-2 text-center">
            {{ estimated_pay }}
        </div>

        <!-- Company Pay -->
        <div class="col-2 text-center">
            {{ company_pay }}
        </div>
    </div>
{% endmacro %}

{% block content %}

    {% if notification_text %}
    <div class="row">
        <div class="col">
            {{ macros.notification(notification_text) }}
        </div>
    </div>
    {% endif %}

    <div class="row dashboard-header">
        <div class="col dashboard-title" >
            <h2>Employee</h2>
        </div>

        <div class="col-auto">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Show All
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Show Some</a>
                    <a class="dropdown-item" href="#">Show A Bit less</a>
                    <a class="dropdown-item" href="#">Show another category</a>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="input-group search">
                <span class="input-group-prepend">
                    <button class="btn btn-outline-secondary border-primary border-right-0 border" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                <input class="form-control py-2 border-primary border-left-0 border" type="search" placeholder="Search" id="search-input">
            </div>
        </div>

    </div>

    <div class="row p-3 employee-table employee-table-header">
        <div class="col-1 checkbox">
        {{ macros.checkbox(id="select-all", name="select-all", required=False) }}
        </div>

        <div class="col name">
        Employee Name
        </div>

        <!-- Leave Start Date -->
        <div class="col-2 text-center">
        Leave Start
        </div>

        <!-- Leave End date -->
        <div class="col-2 text-center">
        Leave End
        </div>

        <!-- Estimated Pay -->
        <div class="col-2 text-center">
        Estimated Pay
        </div>

        <!-- Company Pay -->
        <div class="col-2 text-center">
        Company Pay
        </div>
    </div>

    {% for row in range(1,10) %}
        {{ employee_row(user_id=row, is_new=loop.cycle(True, False)) }}
    {% endfor %}

{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript" src="/static/dashboard.js"></script>
{% endblock %}
