{% extends "pages/base/base.html" %}
{% import "pages/base/macros.html" as macros %}


{% block header_styles %}
<link href="/static/dashboard.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="sidebar">

    {{ macros.sparrow_logo() }}

    <div class="sidebar-profile">
        <img alt="your profile picture" class="circle-with-border" src="https://0.gravatar.com/avatar/f5348e1061215cf50eb1682b5da444ea?s=400&d=mm"/>
        <span class="sidebar-profile-name">Diego Berrocal Chinchay</span>
    </div>

    <!-- TODO: For the person transforming this HTML into a template.  -->
    <nav class="sidebar-destinations">
        <ol>
            <li>
                <a href="/dashboard" class="current">
                    <i class="fas fa-chart-pie"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="/tasks">
                    <i class="fas fa-chart-pie"></i>
                    Tasks
                </a>
            </li>
            <li>
                <a href="/forms">
                    <i class="fas fa-chart-pie"></i>
                    Forms
                </a>
            </li>
            <li>
                <a href="/faq">
                    <i class="fas fa-chart-pie"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="/profile">
                    <i class="fas fa-chart-pie"></i>
                    Profile
                </a>
            </li>
        </ol>
    </nav>

</div>

<div class="content">
    <header>
        <div class="header-title">
            <i class="fas fa-chart-pie"></i>
            Dashboard
        </div>

        <div class="header-action">
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>
    </header>
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript" src="/static/dashboard.js"></script>
{% endblock %}
