@import "../common/sidebar_template.less";


// START: Form Override

// The class .form is needed for these overrides to take place
.form {
    select {
        &,
        &:focus {
            color: @color-primary-cta;
            border-color: @color-primary-cta;
        }
    }

    input {
        color: @color-primary-cta;
        border-color: @color-primary-cta;
        &:focus,
        &::placeholder {
            color: @color-primary-cta;
        }
    }
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: @color-primary-cta;
}

.custom-control-label::before {
    background-color: white;
    border: 1px solid @color-primary-cta;
}

.btn-primary {
    background-color: @color-primary-cta;
    border-color: @color-primary-cta;
}

// END: Form Override

.timeline {
    padding-top: 16px;
    overflow: hidden;

    position: relative;
    text-align: center;
    z-index: 0;

    /*CSS counters to number the steps*/
    counter-reset: step;

    li {
        list-style-type: none;
        text-transform: uppercase;
        font-size: @font-size-16;
        position: relative;
        letter-spacing: 1px;
        color: @color-gray-border;

        &.active {
            color: #A8E0EF;
        }

        &:before {
            content: counter(step);
            counter-increment: step;

            .square(32px);
            line-height: 32px;
            display: block;

            color: white;
            background: @color-gray-border;
            box-shadow: 0 0 0 4px @color-gray-border;

            border-radius: 25px;
            margin: 0 auto 10px auto;
        }

        &.active:before {
            background: @color-primary-cta;
            box-shadow: 0 0 0 5px #A8E0EF;

        }

        &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 16px;
            z-index: -1;
            /*put it behind the numbers*/
            background: @color-gray-border;
        }

        &:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        &.active:before,
        &.active:after {
            background: #4EC1DF;
            color: white;
        }
    }
}

.form {
    &-section-title {
        color: @color-primary-cta;
        font-weight: bold;
        letter-spacing: 0.01rem;
    }

    .custom-radio {
        margin-top: 16px;
    }

    &-submit {
        margin-top: 250px;
    }
}
