@color-default: #666666;
@color-primary-cta: #4EC1DF;
@bg-color: #A8E0EF;

a {
    &:hover,
    &:link,
    &:visited,
    &:active {
        color: @color-primary-cta;
        text-decoration: none;
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: @color-default;
}

.left {
    float: left;
}

.right {
    float: right;
}

.media(@min; @rules) {
    @media only screen and (min-width: @min) {
        @rules();
    }
}

.media-desktop-large(@rules) {
    .media(1366px, @rules);
}

// Buttons
button.sparrow-button {
    background: #fff;
    color: @color-primary-cta;
    border-color: @color-primary-cta;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;

    &.sparrow-primary {
        background: @color-primary-cta;
        color: #fff;
    }
}

// General Form Inputs
.sparrow-input,
.sparrow-select {
    font-size: 15px;
    border: 1px @color-primary-cta solid;
    border-radius: 5px;
    padding: 8px;

    color: @color-primary-cta;

    display: flex;
    align-items: center;


    i {
        line-height: 15px;
        padding-right: 8px;
    }

    input,
    select {
        background: #ffffff;
        appearance: none;
        color: @color-primary-cta;
        flex: 1;
        border: 0;
    }

    input::placeholder,
    select::placeholder {
        color: @color-primary-cta
    }
}

// Select Boxes

select.sparrow-select {
}

// CheckBox
.sparrow-checkbox {
    padding-left: 8px;

    input[type="checkbox"] {
        opacity: 0;
    }

    label {
        &::before{
            margin-right: 8px;
            font-family: "Font Awesome 5 Free";
            color: @color-primary-cta;
        }
    }

    /*Hide the checkmark by default*/
    input[type="checkbox"] + label::before {
        content: "\f111";
    }

    /*Unhide the checkmark on the checked state*/
    input[type="checkbox"]:checked + label::before {
        content: "\f058";
    }

    /*Adding focus styles on the outer-box of the fake checkbox*/
    input[type="checkbox"]:focus + label::before {
        outline: currentColor auto 5px;
    }

}
